<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cercador d'escoles properes al domicili</title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
    />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </head>
  <body>
    <div id="map"></div>
    <div id="results">
      <!-- Filter Section -->

      <div>
        <label for="toggle-switch">Option:</label>
        <select id="toggle-switch">
          <option value="max_points">Centres on es pot obtenir la màxima puntuació</option>
          <option value="all_centers">Tots els centres</option>
        </select>
      </div>

      <div id="filters" style="margin-bottom: 10px">
        <label>
          <input type="checkbox" id="filter-publics" checked /> Públics
        </label>
        <label style="margin-left: 10px">
          <input type="checkbox" id="filter-concertats" checked /> Concertats
        </label>
      </div>

      <!-- Results List -->
      <div id="result-list">
        Fes click al mapa per veure els centres educatius de proximitat a un
        domicili (3-12 anys) a la ciutat de Barcelona
      </div>

      <!-- Chart for remaining places -->
      <div id="chart-container">
        <canvas id="remainingPlacesChart"></canvas>
      </div>

      <div id="footer">
        Aquesta web mostra els centres educatius (3-12 anys) més propers a un
        domicili a la ciutat de Barcelona, per als quals s'obtindria la màxima
        puntuació en la sol·licitud de places. <br />
        Els resultats son aproximats -->
        <a
          href="https://www.edubcn.cat/ca/alumnat_i_familia/informacio_general_matriculacio/arees_influencia/consulta_de_centres_educatius#/cerca"
          >Font oficial</a
        >
        <br />
        <a href="https://glorialangreo.com/schools/"
          >Font de les dades d'assignacions</a
        >
        (última actualització curs 2023/24) <br />
        <a
          href="https://docs.google.com/forms/d/e/1FAIpQLSfljeyu6oEJ_nKNj2SNqEBe_wEvju3hNm5PY_HbxNMPRLvmZg/viewform?usp=header"
          >Comparteix el teu feedback!</a
        >
      </div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
